// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Suez+One&display=swap');

// Define fonts for body and headers
$body-font: "Oxygen", "sans-serif";
$headers-font: "Suez One", "serif";

// font-family: 'Oxygen', sans-serif;
// font-family: 'Suez One', serif;

@font-face {
  font-family: 'Antique Olive Compact';
  src: url('AQCT.ttf');
}




h1 {
  font-family: 'Suez One', serif;
  font-size: 56px;
  line-height: 1.5rem;
}



h2 {
  font-family: 'Suez One', serif;
  font-size: 32px!important;
  line-height: 1.5rem;
}

h3 {
  font-family: 'Suez One', serif;
  font-size: 20px!important;
  line-height: 1.5rem;
}

h4 {
  font-family: 'Suez One', serif;
  font-size: 18px!important;
  line-height: 1.5rem;
}

p {
  font-family: 'Oxygen', sans-serif;
  font-weight: 400!important;
  font-size: 16px!important;
  line-height: 1.5rem;
}

a {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
}

a:hover {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

i {
  font-style: normal;
  line-height: 1rem;
}
