<div class="about" id="about">
  <div class="row p-5">
    <div class="col-12 col-lg-6">
      <h3>A propos</h3>
      <%# <p>Ce site est un projet conçu par des étudiants développeurs dans le cadre de la formation accélérée <a href="https://www.lewagon.com" target="_blank">Le Wagon</a> et inspiré par les travaux de lanceurs d'alerte de <a href="https://twitter.com/i_fly_Bernard" target="_blank">I Fly Bernard</a> et <a href="https://twitter.com/YachtCO2tracker" target="_blank">Yacht CO2 tracker</a>. <br> %>
      Les calculs présents sur cette page s'appuient librement sur la version officielle de <a href="https://nosgestesclimat.fr" target="_blank">Nos Gestes Climat</a> développée par <a href="https://datagir.ademe.fr" target="_blank">Datagir (ADEME)</a> et <a href="https://abc-transitionbascarbone.fr" target="_blank">l'Association pour la transition Bas Carbone</a>.
      <br><br>Mais également sur les informations récoltées par <a href="https://twitter.com/i_fly_Bernard" target="_blank">I Fly Bernard</a> et <a href="https://twitter.com/YachtCO2tracker" target="_blank">YachtCO2tracker</a> à partir de données provenant de <a href="https://www.eia.gov/environment/emissions/co2_vol_mass.php" target="_blank">l'U.S Energy Information Administration</a> et des <a href="https://www.mtu-solutions.com/content/dam/mtu/products/yacht/main-propulsion/mtu-series-4000/3232791_Marine_spec_16V4000M73-L_1B.pdf/_jcr_content/renditions/original./3232791_Marine_spec_16V4000M73-L_1B.pdf" target="_blank">données constructeur du navire</a>.
      <br>
      <br> Par souci de brieveté et parce que notre objectif est plus de se figurer un ordre de grandeur que d'apporter une grande précision, certains calculs ont été simplifiés et certaines données rapportées à la moyenne française. Toute imprécision ou erreur éventuelle est uniquement de notre fait et ne saurait être imputée à nos sources.
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <h3>Notre objectif</h3>
      <p>Notre objectif est d'alerter sur le fait que faire peser la responsabilité du réchauffement climatique sur les comportements individuels ne suffira pas à éviter la catastrophe, et dépolitise les gens en leur donnant l'impression qu'ils ont “fait leur part”. <br>
      <br> En utilisant l'exemple des jets privés et des yachts, nous espérons contribuer à faire prendre conscience que le problème ne réside pas tant dans nos modes de vies mais dans la façon dont sont réparties les richesses dans notre société. <br>
      <br> Nous sommes face à un péril existentiel que nous ne pourrons combattre sans des changements structurels majeurs qui nécessitent une mobilisation de masse. Il est impératif pour chacun d'en identifier les véritables causes pour transformer son angoisse en colère puis en action.
      </p>
    </div>
  </div>
</div>
