<div class="about pt-5" id="about">
  <div class=" whitecutbottom"><%= image_tag "whitecutbottom.png", class: "vw-100" %> </div>
  <div class="row p-5 mt-4 w-100">
    <div class="col-12 col-lg-6">
      <h3>A propos</h3>
      <p>
        <em>"Le patrimoine financier de 63 milliardaires français émet autant de gaz à effet de serre que celui de 50 % des ménages français".</em> Source : <a href="https://www.oxfamfrance.org/rapports/les-milliardaires-font-flamber-la-planete-et-letat-regarde-ailleurs/" target="_blank">Les milliardaires français font flamber la planète et l'état regarde ailleurs</a>, OXFAM, 2022. <br>
        <br>Les calculs présents sur cette page s'appuient librement sur la version officielle de <a href="https://nosgestesclimat.fr" target="_blank">Nos Gestes Climat</a> développée par <a href="https://datagir.ademe.fr" target="_blank">Datagir (ADEME)</a> et <a href="https://abc-transitionbascarbone.fr" target="_blank">l'Association pour la transition Bas Carbone</a>. <br>
        <br>Les données concernant la consommation en carburant du jet <a href="https://fr.wikipedia.org/wiki/Bombardier_Global_Express" target="blank_">Bombardier Global 6000</a> de Vincent Bolloré et du yacht <a href="https://en.wikipedia.org/wiki/Symphony_(yacht)" target="blank_">Symphony</a> de Bernard Arnault ont été récoltées par <a href="https://twitter.com/i_fly_Bernard" target="blank_">I Fly Bernard</a> et <a href="https://twitter.com/YachtCO2tracker" target="blank_">YachtCO2tracker</a>. Leurs sources et méthodes de calcul sont détaillées sur leurs comptes Twitter. <br>
        <br>Nous souhaitons mettre en avant un ordre de grandeur plutôt que d'apporter le résultat le plus précis possible. Ainsi, nous avons simplifié ou rapporté à la moyenne française certains calculs d’équivalent CO2.
      </p>
    </div>
    <div class="col-12 col-lg-6">
      <h3>Notre objectif</h3>
      <p>En utilisant l'exemple des jets privés et des yachts, nous espérons contribuer à faire prendre conscience que le rechauffement climatique est davantage causé par la façon dont sont réparties les richesses dans notre société que par nos comportement individuels. <br>
        <br>Dans notre démocratie, les députés sont les représentants du peuple : c’est en étant nombreux à les interpeller sur les sujets qui nous préoccupent que nous obtiendrons des actions politiques concrètes. <br>
        <br>Selon nous, trouver une solution au réchauffement climatique nécessitera des changements structurels majeurs. Il est important pour chacun d’identifier les véritables causes du problème afin de transformer son angoisse en colère puis en action.
      </p>
    </div>
  </div>
</div>
