<div class="banner">
  <div class="container">
    <h1>63 milliardaires français émettent autant de CO2 que 50% de la population.</h1>
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
  </div>
</div>
