<div class="container" id="community">
  <div class="row justify-content-center m-2">
    <div class="col-12 col-lg-6 my-4">
      <a class="twitter-timeline" data-width="700" data-height="700" data-theme="light" href="https://twitter.com/QuiNousBrule?ref_src=twsrc%5Etfw">Tweets by QuiNousBrule</a>
    </div>
    <div class="col-12 col-lg-6 my-4">
      <h3>Vous êtes <span class="key-number"><%= AnnualFootprint.count %></span> à avoir calculé votre empreinte carbone annuelle</h3>
    </div>
  </div>
</div>





<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
