<div class="container" id="community">
  <div class="row justify-content-center m-2">
    <div class="col-12 col-lg-6 my-4">
      <a class="twitter-timeline" data-width="700" data-height="700" data-theme="light" href="https://twitter.com/QuiNousBrule?ref_src=twsrc%5Etfw">Tweets by QuiNousBrule</a>
    </div>
    <%# <div class="col-12 col-lg-4 my-4">
      <a class="twitter-timeline"  data-tweet-limit=3 data-width="700" data-height="700" data-theme="light" href="https://twitter.com/i_fly_Bernard?ref_src=twsrc%5Etfw">Tweets by I Fly Bernard</a>
    </div>
    <div class="col-12 col-lg-4 my-4">
      <a class="twitter-timeline"  data-tweet-limit=3 data-width="700" data-height="700" data-theme="light" href="https://twitter.com/YachtCO2tracker?ref_src=twsrc%5Etfw">Tweets by Yacht CO₂ tracker</a>
    </div> %>

  </div>
</div>





<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
