
<div class="earth">
  <div class=" whitecutbottom-earth"><%= image_tag "whitecutbottom.png" %></div>
    <div class="container">
      <div class="row justify-content-center align-content-center">
          <div class="col-8">
            <h1 class="text-center">Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do eiusmod tempor. </h1>
          </div>
      </div>
    </div>
  <div class=" whitecuttop-earth"><%= image_tag "whitecuttop.png" %></div>
</div>
