
<div class="earth">
<div class=" whitecutbottom-earth"><%= image_tag "whitecutbottom.png" %></div>
<h1>Lorem ipsum dolor sit amet, consectetu adipiscing elit, sed do eiusmod tempor. </h1>
<div class=" whitecuttop-earth"><%= image_tag "whitecuttop.png" %></div>
</div>
