
  <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example mt-5" tabindex="0">
    <h2 class="text-center">Calculateur complexe</h2>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="false">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active justify-center-center" data-interval="false">
              <div class="d-block w-100 my-5 text-center">
                <h5>Je me déplace</h5>
                <p>Some representative placeholder content for the first slide.</p>
                <form action="#" class="row">
                  <div class="col-6 mb-3">
                    <label for="first-name" class="form-label">Your first name</label>
                    <input id="first-name" type="text" class="form-control" placeholder="Alice">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="last-name" class="form-label">Your last name</label>
                    <input id="last-name" type="text" class="form-control" placeholder="Daubrée">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="email" class="form-label">Your email</label>
                    <input type="email" id="email" class="form-control" placeholder="alice.d@gmail.com">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="password" class="form-label">Your password</label>
                    <input type="password" id="password" class="form-control" placeholder="******">
                  </div>
                  <div class="col-12 mb-3">
                  <label for="source">How do you know us?</label>
                  <select id="source" name="source" class="form-select mt-2">
                    <option value="Facebook">Facebook</option>
                    <option value="Google Search">Google Search</option>
                    <option value="A friend">A friend</option>
                  </select>
                  <div class="col-12 mb-3">
                  <input type="submit" value="Next" class="btn-success py-2 px-3 rounded w-100 mt-3" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                </div>
                </div>
                </form>
              </div>
            </div>
            <div class="carousel-item" data-interval="false">
              <div class="d-block w-100 my-5 text-center">
                <h5>Je me loge</h5>
                <p>Some representative placeholder content for the second slide.</p>
                <form action="#" class="row">
                  <div class="col-6 mb-3">
                    <label for="first-name" class="form-label">Your first name</label>
                    <input id="first-name" type="text" class="form-control" placeholder="Alice">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="last-name" class="form-label">Your last name</label>
                    <input id="last-name" type="text" class="form-control" placeholder="Daubrée">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="email" class="form-label">Your email</label>
                    <input type="email" id="email" class="form-control" placeholder="alice.d@gmail.com">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="password" class="form-label">Your password</label>
                    <input type="password" id="password" class="form-control" placeholder="******">
                  </div>
                  <div class="col-12 mb-3">
                  <label for="source">How do you know us?</label>
                  <select id="source" name="source" class="form-select mt-2">
                    <option value="Facebook">Facebook</option>
                    <option value="Google Search">Google Search</option>
                    <option value="A friend">A friend</option>
                  </select>
                  <div class="col-12 mb-3">
                  <input type="submit" value="Next" class="btn-success py-2 px-3 rounded w-100 mt-3" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                </div>
                </div>
                </form>
              </div>
            </div>
            <div class="carousel-item" data-interval="false">
              <div class="d-block w-100 my-5 text-center">
                <h5>Je consomme</h5>
                <p>Some representative placeholder content for the third slide.</p>
                <form action="#" class="row">
                  <div class="col-6 mb-3">
                    <label for="first-name" class="form-label">Your first name</label>
                    <input id="first-name" type="text" class="form-control" placeholder="Alice">
                  </div>
                  <div class="col-6 mb-3">
                    <label for="last-name" class="form-label">Your last name</label>
                    <input id="last-name" type="text" class="form-control" placeholder="Daubrée">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="email" class="form-label">Your email</label>
                    <input type="email" id="email" class="form-control" placeholder="alice.d@gmail.com">
                  </div>
                  <div class="col-12 mb-3">
                    <label for="password" class="form-label">Your password</label>
                    <input type="password" id="password" class="form-control" placeholder="******">
                  </div>
                  <div class="col-12 mb-3">
                  <label for="source">How do you know us?</label>
                  <select id="source" name="source" class="form-select mt-2">
                    <option value="Facebook">Facebook</option>
                    <option value="Google Search">Google Search</option>
                    <option value="A friend">A friend</option>
                  </select>
                  <div class="col-12 mb-3">
                  <input type="submit" value="Next" class="btn-success py-2 px-3 rounded w-100 mt-3" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                </div>
                </div>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    </div>
  </div>
</div>
