.navbar-quinousbrule {
  z-index: 999;
}


.navbar-quinousbrule .navbar-brand img {
  width:139px;
  height: 70px;
  margin-bottom: 8px;
}


.navbar-quinousbrule a {
  font-family: $headers-font;
  text-decoration: none;
  color: $light-gray;
}

.navbar-quinousbrule a:hover {
  color: $yellow;
}

.navbar-toggler {
  border: 0px;
  background-color: $yellow;
}


.banner {
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url("banner.jpeg");
  overflow:scroll
}

.banner h1 {
  margin: 0;
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-weight: bold;
}

.banner p {
  color: $light-gray;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  max-width: 65ch;
}

.banner .title {
  color: $yellow;
  font-size: 60px;
}

.banner i {
  color: $yellow;
  font-size: 40px;
}

.text-yellow {
  color: $yellow;
}


.whitecuttop {
  height: 50px;
}
