.calculator-container {
  height: auto;
}

.calculator-container .inner-form {
  margin: 100px 0;
}

.inner-form input {
  font-weight: 300;
}

.inner-form label {
  font-weight: 700;
}

.caroussel-fixed  {
  height: auto;
}

.earth {
  background-color: $yellow;
  background-size: cover;
  background-position: center;
  position: relative;
}

.whitecuttop-earth {
  bottom: 0;
  position: absolute
}
