.calculator-container {
  height: auto;
}


.btn-caroussel-prev {
  background-color: $dark-blue;
  padding: 8px 20px;
  color: $light-gray;
  border-radius: 5px;
  height: 35px;
  border: none;
  text-align: center;
  line-height: 1rem;

}



.btn-caroussel-next {
  background-color: $yellow;
  padding: 8px 20px;
  color: $light-gray;
  border-radius: 5px;
  height: 35px;
  border: none;
  text-align: center;
  line-height: 1rem;
}

.caroussel-fixed  {
  height: auto;
}
