.calculator-container {
  height: auto;
}

.calculator-container h2 {
  color: $light-gray;
}


.calculator-container .inner-form {
  margin: 100px 0;
}

.inner-form input {
  font-weight: 300;
}

.inner-form label {
  font-weight: 700;
  color: $light-gray;
}

.inner-form p {
  color: $light-gray;
}

.inner-form h4 {
  color: $light-gray;
}


.caroussel-fixed  {
  height: auto;
}

.earth {
  background-color: $dark-blue;
  background-size: cover;
  background-position: center;
  position: relative;
}

.whitecuttop-earth {
  bottom: 0;
  position: absolute
}
