.earth {
  // background-image: linear-gradient(
  //   rgba(0, 0, 0, 0.5),
  //   rgba(0, 0, 0, 0.5)
  // ),  url('earth.jpg');
  background-color: $yellow;
  background-size: cover;
  height : 90vh;
  position: relative;
}



.whitecuttop-earth {
  bottom: 0;
  position: absolute
}


.earth h1 {
  color: $light-gray;
  // text-align: center;
  // vertical-align: middle;
}
