.footer {
  background: $dark-blue;
  align-items: center;
  height: auto;
  padding: 0px 10px;
  color: $light-gray;
}

.footer p {
  max-width: 55ch;
}
.footer-links {
  display: flex;
}
.footer-links a {
  color: $light-gray;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 22px;
}
.footer-links a:hover {
  color: $yellow;
}
