.simple-comp-menu {
  height: auto;
  overflow: scroll;
}

.simple-comp-container {
  position: sticky;
}

.simple-comp-container h2 {
  color: $yellow;
}

.simple-comp-container a {
  text-decoration: none;
}
