.footer {
  background: $dark-blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: $light-gray;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $light-gray;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 22px;
}
.footer-links a:hover {
  color: $yellow;
}
