.navbar-quinousbrule {
  justify-content: space-between;
  background: $dark-blue;
  color: $light-gray;
}

.navbar-quinousbrule a {
  color: $light-gray;
}

.navbar-quinousbrule a:hover {
  color: $yellow;
}


.navbar-quinousbrule .navbar-collapse {
  flex-grow: 0;
}

.navbar-quinousbrule .navbar-brand img {
  width: 40px;
}
